@import "reset-styles";
@import "colors";
@import "fonts";
@import "button";
@import "button-arrow";

body {
    font-family: "ttlakes", sans-serif;
    margin: 0 auto;
    background-color: $bgColorSite;
}

.cps-header {
    padding: 0 16px;
    display: flex;
    height: 88px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;

    &::after {
        content: "";
        position: relative;
        top: 0;
        left: 0;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
        border-radius: 1px;
        order: 3;
    }

    &__burger {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid $btnColor;
        background-color: $btnColor;
        transition-duration: 0.5s;
        cursor: pointer;
        order: 1;

        &:hover {
            background-color: #fff;
        }

        &:active {
            background-color: $btnColor;
        }

        &:hover > span::after,
        &:hover > span::before,
        &:hover > span {
            background-color: $btnColor;
        }

        &:active > span::after,
        &:active > span::before,
        &:active > span {
            background-color: #ffffff;
        }
    }

    &__burger span {
        position: absolute;
        background-color: #fff;
        width: 10px;
        top: 18px;
        left: 10px;
        height: 2px;
        border-radius: 1px;
        order: 1;

        &::before,
        &::after {
            content: "";
            background-color: #fff;
            position: absolute;
            height: 2px;
            left: 0;
            border-radius: 1px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 6px;
            width: 14px;
        }

        &::after {
            content: "";
            bottom: 6px;
            width: 18px;
        }
    }

    .logo {
        order: 2;

        &__img {
            width: 96px;
            height: 51px;
        }
    }

    &__contacts {
        display: none;
    }

    &__fb {
        width: 96px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        order: 4;
    }
}

.cps-aside {
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    flex-direction: column;
    padding: 18px 16px 32px;
    max-width: 100%;
    height: 100vh;
    background-color: #ffffff;
    z-index: 9;
    opacity: 0.5;

    &__aside-active {
        width: 100%;
        opacity: 1;
        left: 0;
        transition: 0.6s;
    }

    &__aside-closed {
        opacity: 0.5;
        left: -100%;
        transition: 0.6s;
    }

    &__closed {
        display: block;
        position: relative;
        margin-right: 16px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid $btnColor;
        background-color: $btnColor;
        transition-duration: 0.5s;
        cursor: pointer;

        &:hover {
            background-color: #fff;
        }

        &:hover > span::before,
        &:hover > span::after {
            background-color: $btnColor;
        }

        &:active {
            background-color: $btnColor;
        }

        &:active > span::before,
        &:active > span::after {
            background-color: #fff;
        }
    }

    &__closed-btn {
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 22px;
            top: 18px;
            left: 8px;
            height: 2px;
            border-radius: 1px;
            background-color: #fff;
        }

        &::before {
            content: "";
            transform: rotate(0.63turn);
        }

        &::after {
            content: "";
            transform: rotate(-0.63turn);
        }
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__logo {
        margin-right: auto;
    }

    .nav-menu {
        margin-bottom: auto;

        &__item {
            margin-bottom: 24px;
        }

        &__link {
            color: $txtColor;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;

            &:hover {
                color: $aimColor;
            }
        }

        &__link-active {
            position: relative;
            color: $activeColor;

            &::before {
                content: "";
                position: absolute;
                top: -3px;
                left: -14px;
                width: 4px;
                height: 29px;
                background-color: $aimColor;
                border-radius: 2px;
            }
        }
    }

    .contacts-container {
        display: flex;
        margin: auto 0 16px 0;

        &__item {
            margin-right: 16px;
        }
    }

    .contacts-list {
        margin-bottom: 8px;

        &__e-mail {
            color: $txtColor;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
        }

        &__phone {
            color: $txtColor;
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
        }
    }

    .language-list {
        display: flex;

        &__item {
            margin-right: 7px;
        }

        &__link {
            color: $txtColor;
            font-size: 16px;
            line-height: 32px;
            font-weight: 500;
            text-transform: uppercase;

            &:hover {
                color: $aimColor;
            }
        }

        &__link-active {
            color: $activeColor;
        }
    }
}

.cps-main {
    .service-content {
        border-top: 2px solid #d9fff5;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__title {
            position: relative;
            padding: 24px 16px 0;
            color: $txtColor;
            font-size: 28px;
            line-height: 40px;
            font-weight: 700;
            margin-bottom: 24px;
            &::before {
                content: "";
                position: absolute;
                top: 23px;
                left: -1px;
                width: 4px;
                height: 40px;
                background-color: $aimColor;
                border-radius: 2px;
            }
        }

        &__item {
            display: flex;
            align-items: center;
            margin-right: 32px;
        }

        &__text {
            margin-right: 8px;
        }

        &__list {
            display: none;
        }

        .swiper-service--nav {
            background-color: #f8f8f8;
            margin-bottom: 20px;
            margin-left: 10px;

            &__item {
                text-align: center;
                font-size: 16px;
                padding: 8px 5px;
                opacity: 0.8;
            }

            &__link {
                color: #7e7e82;
            }
        }

        .swiper-slide-active {
            background: #ffffff;
            border: 2px solid #41f6d7;
            border-radius: 6px;
        }

        .service-item {
            &__text {
                color: #7e7e82;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                padding: 0 16px;
                overflow: hidden;
                height: 80px;
                position: relative;
            }

            &__text-active {
                height: 200px;
            }

            &__text-block {
                display: block;
                margin-top: 20px;
            }

            &__btn {
                position: relative;
                color: $txtColor;
                margin: 16px 0 16px 48px;

                &::before {
                    content: url(../img/info-link.svg);
                    position: absolute;
                    top: 0;
                    left: -16px;
                    transition-duration: 0.7s;
                }

                &:hover{
                    color: $aimColor
                }
            }

            &__btn-active {

                &::before {
                    transform: rotate(180deg);
                }
            }

            &__img {
                padding: 0 20px;
                width: 100%;
                margin-bottom: 25px;
            }
        }
    }

    .service-brands {
        &__title {
            position: relative;
            padding: 16px;
            margin-bottom: 16px;
            color: #7e7e82;
            font-size: 16px;
            line-height: 24px;
            font-weight: 200;
            text-transform: uppercase;
            background: linear-gradient(270deg, white, #f8f8f8);
            border-top: 2px solid #d9fff5;
        }

        .swiper-brands--nav {
            background-color: $bgColorSite;
            position: relative;

            &__item {
                width: 240px;
                height: 72px;
                margin-left: 16px;
                border: 1px solid #eaeaea;
                border-radius: 6px;
                padding: 20px 116px 20px 16px;
                background-color: #ffffff;
                cursor: pointer;
            }

            &__link {
                align-items: center;
            }

            &__btn {
                position: absolute;
                width: 40px;
                height: 40px;
                border: 1px solid $btnColor;
                border-radius: 100%;
                color: $btnColor;
                transition-duration: 0.4s;
                top: 15px;
                left: 190px;

                &::after {
                    content: "\e900";
                }

                &:hover {
                    background-color: $btnColor;
                }

                &:hover::after {
                    color: #fff;
                }

                &:active {
                    background-color: #fff;
                }

                &:active::after {
                    color: $btnColor;
                }
            }
        }
    }

    // Секция - Брендов от 768px
    .service-brands-tab {
        display: none;
    }

    .service-type {
        margin-bottom: 20px;

        &__title {
            position: relative;
            padding: 16px;
            margin: 25px 0;
            color: #7e7e82;
            font-size: 16px;
            line-height: 24px;
            font-weight: 200;
            text-transform: uppercase;
            background: linear-gradient(270deg, white, #f8f8f8);
            border-top: 2px solid #d9fff5;
        }

        .swiper-type--nav {
            background-color: $bgColorSite;
            position: relative;

            &__item {
                width: 240px;
                height: 160px;
                margin-left: 16px;
                border: 1px solid #eaeaea;
                border-radius: 6px;
                background-color: #ffffff;
                cursor: pointer;
            }

            &__link {
                color: $txtColor;
            }

            &__title {
                position: absolute;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                padding: 16px 0 0 16px;
            }

            &__btn {
                display: block;
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                border: 1px solid #ff3e79;
                top: 100px;
                left: 190px;

                &::after {
                    content: "\e900";
                    color: #ff3e79;
                    position: absolute;
                    top: 10px;
                    left: 15px;
                }

                &:hover {
                    background-color: #ff3e79;
                    transition-duration: 0.7s;
                }

                &:hover::after {
                    color: #fff;
                }

                &:active {
                    background-color: #fff;
                }

                &:active::after {
                    color: #ff3e79;
                }
            }
        }
    }

    // Секция - Ремонт различных видов техники от 768px
    .service-type-tab {
        display: none;
    }

    .service-price {
        margin-bottom: 20px;

        &__title {
            position: relative;
            padding: 16px;
            margin-bottom: 16px;
            color: #7e7e82;
            font-size: 16px;
            line-height: 24px;
            font-weight: 200;
            text-transform: uppercase;
            background: linear-gradient(270deg, white, #f8f8f8);
            border-top: 2px solid #d9fff5;
        }

        .swiper-price--nav {
            margin-bottom: 20px;

            &__item {
                align-items: start;
                width: 260px;
                height: 200px;
                margin-left: 16px;
                text-align: left;
                border: 1px solid #eaeaea;
                border-radius: 6px;
                background-color: #ffffff;
            }

            &__link {
                color: $txtColor;
            }

            .price-link {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 16px;
                cursor: pointer;
                height: 100%;

                &__title {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #7e7e82;
                    opacity: 0.7;
                }

                &__subtitle {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 18px;
                }

                &__btn {
                    position: absolute;
                    align-items: center;
                    border: 1px solid #ff3e79;
                    color: #fff;
                    background-color: $btnColor;
                    width: 120px;
                    height: 32px;
                    border-radius: 50px;
                    cursor: pointer;
                    font-size: 12px;
                    top: 155px;
                    left: 115px;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 24px;
                    font-weight: 700;
                    transition-duration: 0.7s;

                    &::after {
                        content: "\e900";
                        position: absolute;
                        top: 9px;
                        left: 100px;
                    }

                    &:hover {
                        background-color: #fff;
                        color: #ff3e79;
                    }

                    &:active {
                        background-color: #ff3e79;
                        color: #fff;
                    }
                }
            }
        }

        &__text {
            margin: 0 0 20px 16px;
            padding-right: 37px;
            color: $txtColor;
            font-size: 14px;
            line-height: 20px;
            font-weight: 200;
        }

        &__link {
            position: relative;
            color: #1b1c21;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            display: flex;
            margin-left: 16px;
            flex-direction: row;
            justify-content: space-around;
            align-self: flex-end;
            width: 200px;
            align-items: center;

            &::after {
                content: "\e900";
                margin-left: 12px;
                position: absolute;
                top: 30px;
                left: 107px;
                font-size: 13px;
                color: #ff3e79;
            }

            &:hover {
                color: $aimColor;
            }

            &:hover:after {
                color: $aimColor;
            }
        }
    }

    // Секция - Цена на услуги от 768px
    .service-price-tab {
        display: none;
    }
}

// Всплывающее окно "Обратная связь"
.cps-popap-feedback {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    padding: 40px 32px 0;
    max-width: 440px;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    border-left: 1px solid #d9fff5;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    z-index: 99;
    opacity: 0.9;

    &__active {
        right: 0;
        transition-duration: 0.6s;
        opacity: 1;
    }

    &__closed {
        opacity: 0;
        right: -100%;
        transition-duration: 0.6s;
    }

    &__title {
        position: relative;
        margin-bottom: 24px;
        color: #1b1c21;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;

        &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 40px;
            top: -6px;
            left: -33px;
            background-color: #41f6d7;
            border-radius: 2px;
        }
    }

    .fb-form {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        z-index: 100;

        &__visually-hidden {
            position: absolute;
            clip-path: inset(100%);
            // clip: rect(0 0 0 0);
            overflow: hidden;
        }

        &__input {
            width: 100%;
            padding: 12px 16px;
            margin-bottom: 16px;
            border: 1px solid #eaeaea;
            border-radius: 8px;

            &:focus,
            :active {
                outline-color: #dedede;
            }
        }

        &__textarea {
            height: 120px;
            width: 100%;
            padding: 12px 16px;
            margin-bottom: 16px;
            border: 1px solid #eaeaea;
            border-radius: 8px;
            resize: none;

            &:focus,
            :active {
                outline-color: #dedede;
            }
        }

        &__text {
            color: #1b1c21;
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;
            margin-bottom: 24px;
            padding-right: 10px;
        }

        &__text-person-info {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #ff3e79;
        }

        &__text-privacy-policy {
            color: #ff3e79;
        }

        &__btn {
            position: relative;
            width: 136px;
            height: 32px;
            font-size: 12px;
            line-height: 24px;
            font-weight: 700;
            justify-content: start;
            align-items: center;
            border-radius: 50px;
            align-self: flex-end;
            color: #ffffff;
            background-color: #ff3e79;
            cursor: pointer;
            transition-duration: 0.5s;
            text-transform: uppercase;

            &::after {
                content: "\e900";
                margin-left: 12px;
            }

            &:hover {
                background-color: #ffffff;
                color: $btnColor;
                border: 1px solid $btnColor;
            }

            &:active {
                background-color: $btnColor;
                color: #ffffff;
            }
        }
    }

    &__btn-closed {
        top: 36px;
        left: 30px;
        z-index: 999;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid $btnColor;
        background-color: $btnColor;
        transition-duration: 0.5s;

        &:hover {
            background-color: #fff;
        }

        &:hover > span::before,
        &:hover > span::after {
            background-color: $btnColor;
        }

        &:active {
            background-color: $btnColor;
        }

        &:active > span::before,
        &:active > span::after {
            background-color: #fff;
        }
    }

    &__elm-btn {
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 22px;
            top: 18px;
            left: 8px;
            height: 2px;
            border-radius: 1px;
            background-color: #fff;
        }

        &::before {
            content: "";
            transform: rotate(0.63turn);
        }

        &::after {
            content: "";
            transform: rotate(-0.63turn);
        }
    }

    // &__bg-left{
    //     position: fixed;
    //     top: 0;
    //     right: -100%;
    //     display: flex;
    //     width: 100vw;
    //     height: 100vh;
    //     background-color: #FFFFFF;
    //     opacity: 0.9;
    // }
}

// Всплывающее окно "Статус ремонта"
.cps-popap-repair {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    padding: 40px 32px 0;
    max-width: 440px;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    border-left: 1px solid #d9fff5;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    z-index: 999;
    opacity: 0;

    &__active {
        right: 0;
        transition-duration: 0.6s;
        opacity: 1;
    }

    &__closed {
        opacity: 0;
        right: -100%;
        transition-duration: 0.6s;
    }

    &__title {
        position: relative;
        margin-bottom: 24px;
        color: #1b1c21;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;

        &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 40px;
            top: -6px;
            left: -33px;
            background-color: #41f6d7;
            border-radius: 2px;
        }
    }

    .form-repair {
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        &__visually-hidden {
            position: absolute;
            clip-path: inset(100%);
            overflow: hidden;
        }

        &__input {
            width: 100%;
            padding: 12px 16px;
            margin-bottom: 16px;
            border: 1px solid #eaeaea;
            border-radius: 8px;

            &:focus,
            :active {
                outline-color: #dedede;
            }
        }

        &__text {
            color: #1b1c21;
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;
            margin-bottom: 18px;
            padding-right: 10px;
        }

        &__text-person-info {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #ff3e79;
        }

        &__text-privacy-policy {
            color: #ff3e79;
        }

        &__btn {
            position: relative;
            width: 136px;
            height: 32px;
            font-size: 12px;
            line-height: 24px;
            font-weight: 700;
            justify-content: start;
            align-items: center;
            border-radius: 50px;
            align-self: flex-end;
            color: #ffffff;
            background-color: #ff3e79;
            cursor: pointer;
            transition-duration: 0.5s;
            text-transform: uppercase;

            &::after {
                content: "\e900";
                margin-left: 12px;
            }

            &:hover {
                background-color: #ffffff;
                color: $btnColor;
                border: 1px solid $btnColor;
            }

            &:active {
                background-color: $btnColor;
                color: #ffffff;
            }
        }
    }

    &__btn-closed {
        top: 36px;
        left: 30px;
        z-index: 999;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid $btnColor;
        background-color: $btnColor;
        transition-duration: 0.5s;

        &:hover {
            background-color: #fff;
        }

        &:hover > span::before,
        &:hover > span::after {
            background-color: $btnColor;
        }

        &:active {
            background-color: $btnColor;
        }

        &:active > span::before,
        &:active > span::after {
            background-color: #fff;
        }
    }

    &__elm-btn {
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 22px;
            top: 18px;
            left: 8px;
            height: 2px;
            border-radius: 1px;
            background-color: #fff;
        }

        &::before {
            content: "";
            transform: rotate(0.63turn);
        }

        &::after {
            content: "";
            transform: rotate(-0.63turn);
        }
    }

    // &__bg-left{
    //     position: fixed;
    //     top: 0;
    //     right: 440px;
    //     display: flex;
    //     width: 100vw;
    //     height: 100vh;
    //     background-color: #FFFFFF;
    //     opacity: 0.9;
    // }
}

// Всплывающее окно "Вход в личный кабинет"
.cps-popap-account {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    padding: 40px 32px 0;
    max-width: 440px;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    border-left: 1px solid #d9fff5;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    z-index: 999;
    opacity: 0;

    &__active {
        right: 0;
        transition-duration: 0.6s;
        opacity: 1;
    }

    &__closed {
        opacity: 0;
        right: -100%;
        transition-duration: 0.6s;
    }

    &__title {
        position: relative;
        margin-bottom: 24px;
        color: #1b1c21;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;

        &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 40px;
            top: -6px;
            left: -33px;
            background-color: #41f6d7;
            border-radius: 2px;
        }
    }

    .form-account {
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        &__visually-hidden {
            position: absolute;
            clip-path: inset(100%);
            overflow: hidden;
        }

        &__input {
            width: 100%;
            padding: 12px 16px;
            margin-bottom: 16px;
            border: 1px solid #eaeaea;
            border-radius: 8px;

            &:focus,
            :active {
                outline-color: #dedede;
            }
        }

        &__text {
            color: #1b1c21;
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;
            margin-bottom: 18px;
            padding-right: 10px;
        }

        &__text-person-info {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #ff3e79;
        }

        &__text-privacy-policy {
            color: #ff3e79;
        }

        &__btn {
            position: relative;
            width: 136px;
            height: 32px;
            font-size: 12px;
            line-height: 24px;
            font-weight: 700;
            justify-content: start;
            align-items: center;
            border-radius: 50px;
            align-self: flex-end;
            color: #ffffff;
            background-color: #ff3e79;
            cursor: pointer;
            transition-duration: 0.5s;
            text-transform: uppercase;

            &::after {
                content: "\e900";
                margin-left: 12px;
            }

            &:hover {
                background-color: #ffffff;
                color: $btnColor;
                border: 1px solid $btnColor;
            }

            &:active {
                background-color: $btnColor;
                color: #ffffff;
            }
        }
    }

    &__btn-closed {
        top: 36px;
        left: 30px;
        z-index: 999;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid $btnColor;
        background-color: $btnColor;
        transition-duration: 0.5s;

        &:hover {
            background-color: #fff;
        }

        &:hover > span::before,
        &:hover > span::after {
            background-color: $btnColor;
        }

        &:active {
            background-color: $btnColor;
        }

        &:active > span::before,
        &:active > span::after {
            background-color: #fff;
        }
    }

    &__elm-btn {
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 22px;
            top: 18px;
            left: 8px;
            height: 2px;
            border-radius: 1px;
            background-color: #fff;
        }

        &::before {
            content: "";
            transform: rotate(0.63turn);
        }

        &::after {
            content: "";
            transform: rotate(-0.63turn);
        }
    }

    // &__bg-left{
    //     position: fixed;
    //     top: 0;
    //     right: 440px;
    //     display: flex;
    //     width: 100vw;
    //     height: 100vh;
    //     background-color: #FFFFFF;
    //     opacity: 0.9;
    // }
}

// Всплывающее окно "Начать чат"
.cps-popap-chat {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    padding: 40px 32px 0;
    max-width: 440px;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    border-left: 1px solid #d9fff5;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    z-index: 999;
    opacity: 0;

    &__active {
        right: 0;
        transition-duration: 0.6s;
        opacity: 1;
    }

    &__closed {
        right: -100%;
        transition-duration: 0.6s;
        opacity: 0;
    }

    &__title {
        position: relative;
        margin-bottom: 24px;
        color: #1b1c21;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;

        &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 40px;
            top: -6px;
            left: -33px;
            background-color: #41f6d7;
            border-radius: 2px;
        }
    }

    .form-chat {
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        &__visually-hidden {
            position: absolute;
            clip-path: inset(100%);
            overflow: hidden;
        }

        &__input {
            width: 100%;
            padding: 12px 16px;
            margin-bottom: 16px;
            border: 1px solid #eaeaea;
            border-radius: 8px;

            &:focus,
            :active {
                outline-color: #dedede;
            }
        }

        &__text {
            color: #1b1c21;
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;
            margin-bottom: 18px;
            padding-right: 10px;
        }

        &__text-person-info {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #ff3e79;
        }

        &__text-privacy-policy {
            color: #ff3e79;
        }

        &__btn {
            position: relative;
            width: 136px;
            height: 32px;
            font-size: 12px;
            line-height: 24px;
            font-weight: 700;
            justify-content: start;
            align-items: center;
            border-radius: 50px;
            align-self: flex-end;
            color: #ffffff;
            background-color: #ff3e79;
            cursor: pointer;
            transition-duration: 0.5s;
            text-transform: uppercase;

            &::after {
                content: "\e900";
                margin-left: 12px;
            }

            &:hover {
                background-color: #ffffff;
                color: $btnColor;
                border: 1px solid $btnColor;
            }

            &:active {
                background-color: $btnColor;
                color: #ffffff;
            }
        }
    }

    &__btn-closed {
        top: 36px;
        left: 30px;
        z-index: 999;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid $btnColor;
        background-color: $btnColor;
        transition-duration: 0.5s;

        &:hover {
            background-color: #fff;
        }

        &:hover > span::before,
        &:hover > span::after {
            background-color: $btnColor;
        }

        &:active {
            background-color: $btnColor;
        }

        &:active > span::before,
        &:active > span::after {
            background-color: #fff;
        }
    }

    &__elm-btn {
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 22px;
            top: 18px;
            left: 8px;
            height: 2px;
            border-radius: 1px;
            background-color: #fff;
        }

        &::before {
            content: "";
            transform: rotate(0.63turn);
        }

        &::after {
            content: "";
            transform: rotate(-0.63turn);
        }
    }

    // &__bg-left{
    //     position: fixed;
    //     top: 0;
    //     right: 440px;
    //     display: flex;
    //     width: 100vw;
    //     height: 100vh;
    //     background-color: #FFFFFF;
    //     opacity: 0.9;
    // }
}

// Всплывающее окно "Заказать звонок"
.cps-popap-call {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    padding: 40px 32px 0;
    max-width: 440px;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    border-left: 1px solid #d9fff5;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    z-index: 999;
    opacity: 0;

    &__active {
        right: 0;
        transition-duration: 0.6s;
        opacity: 1;
    }

    &__closed {
        right: -100%;
        transition-duration: 0.6s;
        opacity: 0;
    }

    &__title {
        position: relative;
        margin-bottom: 24px;
        color: #1b1c21;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;

        &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 40px;
            top: -6px;
            left: -33px;
            background-color: #41f6d7;
            border-radius: 2px;
        }
    }

    .form-call {
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        &__visually-hidden {
            position: absolute;
            clip-path: inset(100%);
            overflow: hidden;
        }

        &__input {
            width: 100%;
            padding: 12px 16px;
            margin-bottom: 16px;
            border: 1px solid #eaeaea;
            border-radius: 8px;

            &:focus,
            :active {
                outline-color: #dedede;
            }
        }

        &__text {
            color: #1b1c21;
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;
            margin-bottom: 18px;
            padding-right: 10px;
        }

        &__text-person-info {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #ff3e79;
        }

        &__text-privacy-policy {
            color: #ff3e79;
        }

        &__btn {
            position: relative;
            width: 136px;
            height: 32px;
            font-size: 12px;
            line-height: 24px;
            font-weight: 700;
            justify-content: start;
            align-items: center;
            border-radius: 50px;
            align-self: flex-end;
            color: #ffffff;
            background-color: #ff3e79;
            cursor: pointer;
            transition-duration: 0.5s;
            text-transform: uppercase;

            &::after {
                content: "\e900";
                margin-left: 12px;
            }

            &:hover {
                background-color: #ffffff;
                color: $btnColor;
                border: 1px solid $btnColor;
            }

            &:active {
                background-color: $btnColor;
                color: #ffffff;
            }
        }
    }

    &__btn-closed {
        top: 36px;
        left: 30px;
        z-index: 999;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid $btnColor;
        background-color: $btnColor;
        transition-duration: 0.5s;

        &:hover {
            background-color: #fff;
        }

        &:hover > span::before,
        &:hover > span::after {
            background-color: $btnColor;
        }

        &:active {
            background-color: $btnColor;
        }

        &:active > span::before,
        &:active > span::after {
            background-color: #fff;
        }
    }

    &__elm-btn {
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 22px;
            top: 18px;
            left: 8px;
            height: 2px;
            border-radius: 1px;
            background-color: #fff;
        }

        &::before {
            content: "";
            transform: rotate(0.63turn);
        }

        &::after {
            content: "";
            transform: rotate(-0.63turn);
        }
    }

    // &__bg-left{
    //     position: fixed;
    //     top: 0;
    //     right: 440px;
    //     display: flex;
    //     width: 100vw;
    //     height: 100vh;
    //     background-color: #FFFFFF;
    //     opacity: 0.9;
    // }
}

.cps-footer {
    .footer-list {
        padding-top: 16px;
        border-top: 2px solid #d9fff5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            & span {
                opacity: 0.7;
            }
        }

        &__item {
            margin-bottom: 16px;
            padding: 0 10px;
            color: #7e7e82;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            text-align: center;
            opacity: 0.7;
        }
        &__link {
            color: #7e7e82;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            opacity: 0.7;
        }
    }
}

@media (min-width: 768px) {
    .cps-header {
        padding: 0 24px;
        justify-content: space-between;
        &::after {
            margin: 0 20px;
            order: 4;
        }
        &::before {
            content: "";
            position: relative;
            margin: 0 20px;
            top: 0;
            left: 0;
            width: 2px;
            height: 32px;
            background-color: #eaeaea;
            border-radius: 1px;
            order: 2;
        }

        &__burger {
            position: relative;
            order: 1;
        }

        &__contacts {
            order: 3;
        }

        .contacts-container__item {
            margin-right: 16px;
        }

        &__item {
            margin-right: 16px;
        }

        &__logo {
            margin-right: auto;
            order: 3;
        }

        &__contacts {
            display: flex;
        }

        &__fb {
            order: 5;
        }
    }

    .cps-aside {
        &__aside_active {
            width: 320px;
            box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
        }
    }

    .cps-main {

        .service-content {

            .service-item {
                display: flex;
                align-items: flex-start;
                flex-direction: row;
                margin: 15px 15px 0;

                &__text {
                    margin: 0px;
                }

                &__container {
                    padding: 0 24px;
                    width: 70%;
                }

                &__img {
                    border-radius: 6px;
                }
            }
        }

        // Слайдер скрыт после 768px
        .swiper-brands--nav {
            display: none;
        }

        .service-brands-tab {
            display: block;

            &__list {
                display: flex;
                height: 166px;
                max-width: 1320px;
                flex-wrap: wrap;
                margin-left: 15px;
                margin-bottom: 24px;
                overflow: hidden;
            }

            &__list-active{
                height: 350px;
            }

            &__item {
                width: 224px;
                height: 72px;
                margin-right: 15px;
                margin-bottom: 16px;
                display: flex;
                align-items: center;
                position: relative;
                padding: 0 16px;
                background-color: #ffffff;
                border: 1px solid #eaeaea;
                border-radius: 6px;
                cursor: pointer;
            }

            &__link {
                align-items: center;
                display: flex;
                justify-content: space-between;
            }

            &__btn {
                position: absolute;
                width: 40px;
                height: 40px;
                border: 1px solid $btnColor;
                border-radius: 100%;
                color: $btnColor;
                transition-duration: 0.4s;
                top: 15px;
                left: 160px;

                &::after {
                    content: "\e900";
                }

                &:hover {
                    background-color: $btnColor;
                }

                &:hover::after {
                    color: #fff;
                }

                &:active {
                    background-color: #fff;
                }

                &:active::after {
                    color: $btnColor;
                }
            }

            &__btn-read{
                margin-left: 40px;
                position: relative;

                &::before {
                    content: url(../img/info-link.svg);
                    position: absolute;
                    top: 0;
                    left: -16px;
                    transition-duration: 0.7s;
                }
                &:hover{
                    color: $aimColor
                }
            }

            &__btn-read-active{

                &::before {
                    transform: rotate(180deg);
                }
            }
        }

        // Слайдер скрыт после 768px
        .swiper-type--nav {
            display: none;
        }

        .service-type-tab {
            display: block;
            margin-bottom: 40px;

            &__list {
                height: 160px;
                margin-left: 15px;
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;
                max-width: 1320px;
            }

            &__list-active{
                height: 350px;
            }

            &__item {
                width: 225px;
                height: 160px;
                margin-right: 55px;
                margin-bottom: 30px;
                border: 1px solid #eaeaea;
                border-radius: 6px;
                background-color: #ffffff;
                cursor: pointer;
                position: relative;
            }

            &__link {
                color: $txtColor;
            }

            &__title {
                position: absolute;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                padding: 16px 0 0 16px;
            }

            &__btn {
                display: block;
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                border: 1px solid #ff3e79;
                top: 100px;
                left: 165px;

                &::after {
                    content: "\e900";
                    color: #ff3e79;
                    position: absolute;
                    top: 10px;
                    left: 15px;
                }

                &:hover {
                    background-color: #ff3e79;
                    transition-duration: 0.7s;
                }

                &:hover::after {
                    color: #fff;
                }

                &:active {
                    background-color: #fff;
                }

                &:active::after {
                    color: #ff3e79;
                }
            }

            &__btn-read{
                margin-top: 30px;
                margin-left: 40px;
                position: relative;

                &::before {
                    content: url(../img/info-link.svg);
                    position: absolute;
                    top: 0;
                    left: -16px;
                    transition-duration: 0.7s;
                }

                &:hover{
                    color: $aimColor
                }
            }

            &__btn-read-active{

                &::before {
                    transform: rotate(180deg);
                }
            }
        }

        .service-price {
            // Слайдер скрыт после 768px
            .swiper-price--nav {
                display: none;
            }

            .service-price-tab {
                display: block;

                &__info {
                    display: flex;
                    padding: 0 38px;
                    margin-bottom: 15px;
                    color: #7e7e82;
                    font-size: 14px;
                    opacity: 0.7;
                }
                &__info-title {
                    width: 44%;
                }
                &__info-subtitle {
                    &:nth-child(2) {
                        width: 19%;
                    }
                }

                &__list {
                    margin: 0 15px 25px;
                    border: 1px solid #eaeaea;
                    border-radius: 6px;
                    background-color: #ffffff;
                }

                &__item {
                    height: 62px;
                    position: relative;

                    &:nth-child(2)::before {
                        content: "";
                        position: absolute;
                        width: 96%;
                        transform: translate(2%);
                        border-top: 1px solid #eaeaea;
                    }
                    &:nth-child(3)::before {
                        content: "";
                        position: absolute;
                        width: 96%;
                        transform: translate(2%);
                        border-top: 1px solid #eaeaea;
                    }
                    &:nth-child(4)::before {
                        content: "";
                        position: absolute;
                        width: 96%;
                        transform: translate(2%);
                        border-top: 1px solid #eaeaea;
                    }
                    &:nth-child(5)::before {
                        content: "";
                        position: absolute;
                        width: 96%;
                        transform: translate(2%);
                        border-top: 1px solid #eaeaea;
                    }
                }

                &__link {
                    height: 100%;
                    padding: 0 24px;
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: $txtColor;
                }

                &__text {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 18px;

                    &:nth-child(1) {
                        width: 40%;
                    }

                    &:nth-child(2),
                    &:nth-child(3) {
                        width: 15%;
                    }
                }

                &__btn {
                    align-items: center;
                    border: 1px solid #ff3e79;
                    color: $btnColor;
                    width: 120px;
                    height: 32px;
                    border-radius: 50px;
                    cursor: pointer;
                    font-size: 12px;
                    top: 155px;
                    left: 115px;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 24px;
                    font-weight: 700;
                    transition-duration: 0.5s;

                    &::after {
                        content: "\e900";
                        margin-left: 8px;
                    }

                    &:hover {
                        background-color: #ff3e79;
                        color: #fff;
                    }

                    &:active {
                        background-color: #fff;
                        color: #ff3e79;
                    }
                }
            }

            &__text {
                width: 430px;
            }

            &__link {
                width: 400px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                &::after {
                    content: "\e900";
                    position: absolute;
                    font-size: 12px;
                    top: 7px;
                    left: 290px;
                }
            }
        }
    }

    .cps-footer {
        margin-top: 47px;

        .footer-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__container {
                width: 240px;
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            &__item {
                width: 260px;
            }
        }
    }
}

@media (min-width: 1440px) {
    .cps-header {
        display: none;
        padding-left: 400px;
    }

    .cps-aside {
        width: 306px;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        padding: 18px 16px 32px;
        max-width: 306px;
        height: 100vh;
        background-color: #ffffff;
        z-index: 999;
        opacity: 1;

        &__header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        &__closed {
            display: none;
        }

        &__logo {
            margin-right: auto;
        }

        .nav-menu {
            margin-bottom: auto;

            &__item {
                margin-bottom: 24px;
            }

            &__link {
                color: $txtColor;
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;

                &:hover {
                    color: $aimColor;
                }
            }

            &__link-active {
                position: relative;
                color: $activeColor;

                &::before {
                    content: "";
                    position: absolute;
                    top: -4px;
                    left: -14px;
                    width: 4px;
                    height: 29px;
                    background-color: $aimColor;
                    border-radius: 2px;
                }
            }
        }

        .contacts-container {
            display: flex;
            margin: auto 0 16px 0;

            &__item {
                margin-right: 16px;
            }
        }

        .contacts-list {
            margin-bottom: 8px;

            &__e-mail {
                color: $txtColor;
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
            }

            &__phone {
                color: $txtColor;
                font-size: 24px;
                line-height: 32px;
                font-weight: 700;
            }
        }

        .language-list {
            display: flex;

            &__item {
                margin-right: 7px;
            }

            &__link {
                color: $txtColor;
                font-size: 16px;
                line-height: 32px;
                font-weight: 500;
                text-transform: uppercase;

                &:hover {
                    color: $aimColor;
                }
            }

            &__link-active {
                color: $activeColor;
            }
        }
    }

    .cps-main {
        padding-left: 315px;

        .service-content {
            &__title {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 23px;
                    left: -9px;
                }
            }

            &__list {
                display: flex;
            }

            .service-item {
                &__container {
                    padding: 0;
                }

                &__text {
                    padding: 0;
                    width: 70%;
                }

                &__img {
                    width: 65%;
                }
            }
        }

        .service-price {
            .service-price-tab {
                &__info-title {
                    width: 47.5%;
                }

                &__info-subtitle {
                    &:nth-child(2) {
                        width: 22%;
                    }
                }
            }
        }
    }

    .cps-popap-feedback {
        .fb-form {
            margin: 0;
        }

        &__btn-closed {
            top: 35px;
            left: -70px;
        }
    }

    .cps-footer {
        padding-left: 315px;
    }
}
